@media (min-width: 768px){
  .navbar-nav {
    float: right;
  }
}
@media (min-width: 1200px){
  #banner {
    .right-block{
      margin-top: -50px;
    }
    img {
      max-width: 104%;
    }
    .left-block {
      p:first-of-type{
        max-width: 43rem;
      }
    }
  }
}
@media (min-width: 1360px){
  #banner {
    .right-block{
      margin-top: -80px;
    }
    img {
      max-width: 119%;
    }
  }
}
@media (max-width: 1360px){
  #banner {
    padding-top: 22rem;
  }
}