.main-template{
  position: relative;
  //margin-top: -105px;
  .progress{
    background-color: $color-darker-blue;
    width: 100%;
  }
  .progress-bar {
    width: 0;
    &.green-bg{
      background-color: $color-green;
      border-radius: 4px;
    }
    &.darker-blue-bg{
      background-color: $color-darker-blue;
    }
    &.darkest-blue-bg{
      background-color: $color-darkest-blue;
    }
    @include transition( width, 1s, ease-out );
  }
}
iframe{
  width: 100%;
  height: 48rem;
}
.close{
  position: absolute;
  top: -20px;
  right: -20px;
}
#banner{
  padding-top: 20rem;
  padding-bottom: 12rem;
  background-color: $color-dark-blue;
  overflow: hidden;
  .inline{
    margin-bottom: 15px;
  }
  .counter-wrap{
    .inline{
      margin-bottom: 0;
    }
  }
  a, a:hover{
    color: white;
  }
}
#scene{
  position: absolute;
}
.soft-cap{
  font-size: 18px;
}
.wall-left{
  padding-left: 1.7rem;

  border-left: 0.8rem solid $color-lightest-blue;
  line-height: 1.78;
}
.progress-bar-wrap{
  .inline{
    font-size: 1.2rem;
  }
}
.progress-bar-wrap, .wall-left{
  margin-bottom: 5rem;
}
.counter-wrap{
  margin-bottom: 4.7rem;
}
.eth{
  width: 14px;
  height: 23px;
  float: right;
}
.payemnt_method{
  position: absolute;
  top: 3px;
  left: 0px;
}
.blue-line{
  height: 1px;
  margin-top: 12px;
  background-color: #4d49d4;
  width: auto;
  margin-right: 25px;
  margin-left: 130px;
  overflow: hidden;
}
.counter-number{
  height: 5.4rem;
  padding-bottom: 2rem;
  line-height: 1;
  font-size: 3.2rem;
}
.timer{
  .uppercase{
    margin-bottom: 3.5rem;
  }
}
.close {
  color: white;
  opacity: 1;
}
.close:focus, .close:hover {
  color: white;
  opacity: .7;
}