.main-template{
  position: relative;
}
#banner{
  padding-top: 20rem;
  padding-bottom: 12rem;

  background: url(resources/images/top-bg.png)no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

