#footer{
  margin-top: -20rem;
  padding-top: 40rem;
  padding-bottom: 5rem;

  background: url(resources/images/clouds-bg.png)no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.footer-container{
  width: 827px;
  margin: 0 auto;
}

.soc-icons{
  margin-bottom: 6.5rem;
  a{
    margin-right: 9.3rem;
    &:last-of-type{
      margin-right: 0;
    }
    &:hover{
      .st0{fill:#6cb319;}
    }
  }
  img, svg{
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
  }
}
.block-chain{
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  border-radius: 3px;
  background-color: #24195e;
  margin-bottom: 6.9rem;
  padding-top: 2.7rem;
  padding-right: 3.8rem;
  padding-bottom: 3rem;
  padding-left: 3.8rem;
  img{
    width: 8.9rem;
    height: 8.6rem;
    margin-right: 2.9rem;
    float: left;
  }
  p{
    font-size: 1.6rem;
  }
  .img, .text{
    display: inline-block;
  }
  .text{

  }
}
.copyright{
  font-size: 18px;
  line-height: 1.78;
  font-weight: 600;
}