#posts{
  padding-top: 10rem;
}
.post-content{
  font-size: 18px;
  line-height: 1.78;
}
.post{
  margin-bottom: 5rem;
  &:last-of-type{
    margin-bottom: 0;
  }

  .image-wrap, .post-img{
    height: 100%;
  }

  &:nth-of-type(even){
    .image-wrap{
      float: right;
    }
  }
}
.post-wrap{
  height: 100%;
  @include display-flex();
  align-items: center;
}