#posts{
  padding-bottom: 9rem;


  background: url(resources/images/bg3.png)no-repeat right center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

}
.posts-wrap{

}
.post{
  height: 300px;
  .image-wrap{
    height: 100%;
  }
  &:nth-of-type(even){
    .image-wrap{
      float: right;
    }
  }
}



